.footer {
	background-color: #353535;
	color: white;
	padding: 30px 0px;

	&__title {
		color: white;
		font-family: 'Shrikhand', 'cursive';
		margin: 3%;
		text-align: center;
	}

	&__text {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 10px;
	}

	&__list {
		list-style: none;
	}

	&__link {
		color: #fff;
		text-decoration: none;
		margin-left: 10px;
	}

	&__icon {
		width: 30px;
	}
}
