.progress-container {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: hsla(0, 0%, 100%, 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	animation: loading 0.01s, fadeOut 1s 3.8s forwards;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	z-index: 10001;
}

.progress {
	border: 2px solid black;
	border-radius: 5px;
	width: 50%;
	height: 25px;
	padding: 0px;
	&__bar {
		background-color: #9356dc;
		height: 25px;
		width: 0%;
		transform-origin: left;
		animation: progressBar 3s ease-in-out forwards;
	}
}

.load {
	perspective: 700px;
	text-align: center;
}

.load > span {
	font-size: 30px;
	font-family: 'Shrikhand', sans-serif;
	display: inline-block;
	animation: flip 2.8s linear, pulse 1s infinite alternate;
	transform-origin: 0 70%;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

@for $i from 1 through 9 {
	.load > span:nth-child(#{$i}) {
		animation-delay: 0.1s * $i;
	}
}

/* Define the progress bar animation */
@keyframes progressBar {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

/* Define the pulsating effect animation */
@keyframes pulse {
	0% {
		color: #000;
	}
	100% {
		color: #9356dc;
	}
}

/* Define the fade out animation */
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
